<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLServerName" value=""/>
    <!--<add key="LABSQLServerName" value="pTwnSgrd41GGEeCcIIzxjQ=="/>-->

    <add key="SQLDataBaseName" value="JFH4LwMeYbhd60r2jo4F2tE6kbVAiQNp"/>
    <add key="SQLUserName" value="UTjjkEyNAlQ="/>
    <add key="SQLPassword" value="cmgvS1zXu/6aSsvXYzsmtA=="/>

    <add key="SQLTunningServerName" value=""/>
    <add key="SQLTunningDataBaseName" value="loJ7vihnCj7ROpG1QIkDaQ=="/>
    <add key="SQLTunningUserName" value="UTjjkEyNAlQ="/>
    <add key="SQLTunningPassword" value="cmgvS1zXu/6aSsvXYzsmtA=="/>
    <add key="ApplicationName" value="ASRTunning"/>
    <add key="LogPath" value="E:\Olos\Logs\LogASR\"/>
    <add key="AdditionalLogEnabled" value="TRUE"/>

    <add key="ntdomainuser" value=""/>
    <add key="ntpass" value=""/>

    <add key="PathForReplication" value="E:\Transcricoes"/>
    <add key="IgnoreWmiAuthentication" value="TRUE" />

  </appSettings>
</configuration>